{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<section class="vh-50 mt-5">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Edit Your Event
                </p>
                
                <form class="mx-1 mx-md-4" id="edit-event-form">
                  {% csrf_token %}
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="name"> Name: </label>
                      <input type="text" name="name" value="{{event.name}}" id="name" class="form-control" required />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="description">
                        Description:
                      </label>
                      <textarea name="description" rows="3" value="{{event.description}}" id="description" class="form-control" required>{{event.description}}</textarea>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="date"> Date: </label>
                      <input type="date" name="date" id="date" value="{{event.date}}" class="form-control" required />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="time"> Time: </label>
                      <input type="time" name="time" id="time" value="{{event.time}}" class="form-control" required />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="venue"> Venue: </label>
                      <input type="text" name="venue" value="{{event.venue}}" id="venue" class="form-control" required />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="image"> Image: </label>
                      <span style="margin-left:7px;" id="imgText">{{imgName}}</span>
                      <input type="file" name="image" id="image" value="{{event.image}}" class="form-control" accept="image/png, image/jpeg" required />
                      
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Update Event</button>
                  </div>

                </form>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
$(document).ready(() => {
  const eventId = "{{ event.id }}";
  const token = "{{ csrf_token }}";
  const url = "/edit-event/" + eventId + "/";  
  const editEventForm = document.querySelector("#edit-event-form");

  editEventForm.addEventListener("submit", (e) => {
    e.preventDefault();

    const formData = new FormData(editEventForm);

    fetch(url, {
      method: "PUT",
      body: formData,
      headers: {
        "X-CSRFToken": token,
        "Authorization": `Bearer ${localStorage.getItem("accessToken")}`,
      },
    })
    .then((response) => {
      if (response.ok) {
        alert("Event updated.");
        document.location.href="/user-events/";
      } else {
        alert("Error");
      }
    })
    .catch((error) => {
      console.error("Error:", error);
    });
  });
});
</script>

{% endblock content %}
